
@{
    ViewData["Title"] = "Contacto";
}

<h1>Formulario de contacto</h1>

<form asp-controller="Home" asp-action="Contacto" >
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
    </div>
</form>
