
@{
    ViewData["Title"] = "Gracias";
}

<h1>Gracias por ponerte en contacto con migo</h1>
<p>Te contestare lo mas pronto posible.</p>
<div><a  asp-action="Index" asp-controller="Home">Volver al Home</a></div>
