@{
    ViewData["Title"] = "Maxi Soria";


}



<div class="text-center">
    <h1>Hola, soy Maximiliano Soria </h1>
    <h2>Soy un estudiante de programacion con conocimientos en C#, C++, Java, .Net entre otros.</h2>
    <img id="foto" src="~/imagenes/imagenMaxi.jpg" alt="Foto de maxi" />
</div>



<div class="row justify-content-center text-center seccion-descripcion">
    <div class="col col-ms-7 seccion-bienvenida  ">
        <h1>Bienvenido a mi portafolio</h1>
        <p>dfejfvdfkldfm v v  kvfevknfvnkfvknfev  kvvkervknfevkn ekpvfevnefvnfevkfe ekpcmvedmnvendenkd koefkdek erkofrnfrnfenfkde kofkofkefmer kefkerkonfeknf kkmkefkewfewkon eknfmfekmfcew kefmkedfkoerf </p>
    </div>
</div>


<div style="margin-top: -100px">
    <div class="row justify-content-md-center text-center " >
        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-hdd-fill"></i>
            <h3>Back-end</h3>
            <p>
                hdhddvnmvdfmnvkdvkdfjksdfhvkjdfvnjdfvjdf kehhjgvjkevjdfhvhvf
            </p>
            <p class="text-primary cabecera">
                Stack
            </p>
            <p>
                ASP .NET Core
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>Aplicacion de escritorio</li>
                <li>Aplicacion de escri</li>
                <li>Aplicacion de escrihjykj</li>
                <li> escritorio</li>
                <li>Aplicacion de escrit</li>
            </ul>
        </div>


        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-code-slash"></i>
            <h3>Front-end</h3>
            <p>
                fdhkfhkfvf jernefklhef kernerfndfhkldeg jdjdfjdfjdjdf dfjdwjsdjsdfj wefjwdjdjf
            </p>
            <p class="text-primary cabecera">
                Stack
            </p>
            <p>
                Bootstrap, Css.
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>Aplicacion de escritorio</li>
                <li>Aplicacion de escri</li>
                <li>Aplicacion de escrihjykj</li>
                <li> escritorio</li>
                <li>Aplicacion de escrit</li>
            </ul>


        </div>
    </div>
</div>