@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Soy Maximiliano Soria</h1>
    <h2>Soy un estudiante de programacion con conocimientos en C#, C++, Java, .Net entre otros.</h2>

    <img id="foto" src="~/imagenes/imagenMaxi.jpg" alt="Foto de maxi" />
</div>
